<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link th:replace="fragments/bootstrap :: link">
	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
	<title>Mascotas</title>
</head>

<body>

	<span th:insert="fragments/header :: header"></span>

	<div class="mt-4 mx-5">
		<div class="d-flex flex-row align-items-center">
			<h1>Mascotas</h1>
			<div class="form-check form-switch ms-auto">
				<input class="form-check-input" type="checkbox" value="" id="cbg" onclick="changeList()">
				<label class="form-check-label" for="flexCheckIndeterminate">
					En adopción
				</label>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-3" th:each="tmp: ${petList}">
				<div class="card mb-3">
					<img th:src="@{/img/{img} (img = ${tmp.imagen}) }" class="card-img-top">
					<div class="card-body">
						<div class="d-flex flex-row align-items-center">
							<h4 class="card-title">[[${tmp.nombre}]]</h4>
							<span class="ms-auto badge bg-primary">[[${tmp.edad}]] año(s)</span>
						</div>
						<hr>
						<p class="card-text mb-0"><b>Tipo: </b>[[${tmp.tipoMascota}]]</p>
						<p class="card-text mb-0"><b>Descripcion: </b>[[${tmp.descripcion}]]</p>
						<p class="card-text mb-0"><b>Registro: </b>[[${tmp.fechaRescate}]]</p>
						<hr>
						<div class="col-12" th:with="flag = ${tmp.disponibleAdopcion}">
							<span th:if="${flag}" class="badge bg-success">En adopción</span>
							<span th:unless="${flag}" class="badge bg-danger">Adoptado</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script>
		let url = window.location;

		if (url.toString().split('/')[url.toString().split('/').length - 1] === 'enadopcion') {
			document.getElementById('cbg').checked = true;
		}

		let changeList = () => {
			if (url.toString().split('/')[url.toString().split('/').length - 1] !== 'enadopcion') {
				window.location.replace('http://localhost:8080/mascota/enadopcion');
			} else {
				window.location.replace('http://localhost:8080/mascota');
			}
		}
	</script>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>

	<script th:if="${msg_success != null}">
		Toastify({
			text: "[[${msg_success}]]",
			duration: 5000,
			gravity: "bottom", // `top` or `bottom`
			position: "left", // `left`, `center` or `right`
			style: {
				background: "linear-gradient(to right, #00b09b, #96c93d)",
			}
		}).showToast();
	</script>
</body>

</html>